<ion-card-header>
    <ion-card-subtitle>
    </ion-card-subtitle>
    <ion-card-title (click)="abrirNoticia()" style="color : white">{{noticia.title.rendered}}</ion-card-title>
    <div class="noticia-more">
        <ion-button fill="clear" (click)="ExtendMenu()">
            <ion-icon name="ellipsis-vertical-outline">

            </ion-icon>


        </ion-button>
    </div>





</ion-card-header>

<ion-img *ngIf="noticia.better_featured_image.source_url" [src]="noticia.better_featured_image.source_url" (click)="abrirNoticia()"></ion-img>

<ion-card-content>
    <div [innerHTML]="noticia.content.rendered"></div>
</ion-card-content>